.numbers__list{
display: flex;
}
.numbers__item{
    width: 260px;
 &:not(:last-child){
    margin-right: 50px;
 }

}
.numbers__title{
    margin-bottom: 13px;
    font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 60px;
line-height: 1.3;
color: #F0A446;

}
.numbers__text{
    font-weight: 700;
    font-size: 13px;
    line-height: 1.69;
    letter-spacing: 0.02px;
}