.plan__container{
display: flex;
padding-top: 120px;
padding-bottom: 60px;
}
.plan__content{
width: 550px;
margin-right: 88px;
}
.plan__pre-header{
margin-bottom: 20px;
    font-weight: 700;
    font-size: 13px;
    line-height: 1.54;
    letter-spacing: 0.05px;
    text-transform: uppercase;
    
    color: #43806C;
    
}
.plan__header{
margin-bottom: 34px;
}
.plan__text{
    font-weight: 400;
font-size: 18px;
line-height: 1.67;
letter-spacing: 0.02px;
color: #757575;

}
.plan__img{

}